/**
 * Глобальные стили приложения.
 * Здесь задаются общие правила типографики и отступов.
 */

h1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

h2 {
  margin-top: 16px;
  margin-bottom: 4px;
}

h3 {
  margin-top: 8px;
  margin-bottom: 4px;
}


li {
  margin-left: 16px;
  margin-bottom: 4px;
  margin-top: 4px;
}

// Адаптивные flex-классы
// sm: < 600px
@media (max-width: 599px) {
  .flex-sm-column {
    flex-direction: column;
  }

  .flex-sm-nowrap {
    flex-wrap: nowrap;
  }
}

// md: 600px - 960px
// and (max-width: 959px)
@media (min-width: 600px)  {
  .flex-md-row {
    flex-direction: row;
  }

  .flex-md-wrap {
    flex-wrap: wrap;
  }
}
